header{
    background-color: #A52A2A;
    margin-top: -8px;
}

nav li{
   display: inline; /*Alinhamento horizontal*/
}
nav ul{
    display: inline; /*Alinhamento horizontal*/
    
    margin-right: 100px;
 }

nav a button{
    text-decoration: none; /*Remove hiperlink*/
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 15px;
}

button{
    background-color: rgb(63, 42, 42);
    padding: 15px 30px;
}

button:hover{
    background-color: rgb(175, 166, 166);
    color: black;
}

.btn_vendas:hover{
    background-color: rgb(20, 109, 47);
}

#btn_pesquisa{
    padding: 15px 15px;
}

*{
    box-sizing: border-box;
}

#caixa_busca{
    padding: 15px;
    padding-top: 21px;
    padding-bottom: 17px;
    float: right;    
}

#logo{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    transform: scaleX(-1); /*Inverte a imagem*/
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    filter: grayscale(50%);
    
}

#logo:hover{
    filter: brightness(70%);
}

#btn_pesquisa{
    float: right;
}

nav{
    display: flex;
}