<head>
    <title>Oficina do Josué</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Ícones--> 
    <link rel="stylesheet" href="css/menu.css">
</head>
<header>
<div class="menu">
    <nav class="menu_topo">
        <a href="?inicio"><img src="img/logo_car.png" id="logo"></a> <!-- Logo do menu-->
        <ul id="menu_itens">
            <li><button><a href="?i=produtos">Produtos <i class="fa fa-cart-arrow-down"></i></a></button></li>
            <li><button><a href="views/servicos.html">Serviços <i class="fa fa-wrench"></i></a></button></li>
            <li><button class="btn_vendas"><a href="views/vendas.html">Vendas <i class="fa fa-usd"></i></a></button></li>
            <li><button><a href="views/manutencao.html">Manutenção <i class="fa fa-car"></i></a></button></li>
            <li><button><a href="#">Cadastros <i class="fa fa-address-card"></i></a></button></li>
            <li><button><a href="views/clientes.html">Clientes <i class="fa fa-address-book"></i></a></button></li>
            <!-- Pesquisa--> 
            <!-- <li>
                <button id="btn_pesquisa"><a href="#"><i class="fa fa-search"></i></a></button>
                <input type="text" id="caixa_busca">
            </li>-->
        </ul>
    </nav>
</div>
</header>