<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Produtos</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Ícones-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/produtos.css"> 
    </head>
    <body>
        <div class="produtos container-fluid row">
            <div class="row">
            <div class="form1">
                <form class="cadastro_produtos">
                    <p>Produtos Cadastrados</p>
                    <div class="pesquisa">
                        <label for="p_prod_nome"> Produto:</label>
                        <input type="text" id="p_prod_nome" name="p_prod_name" class="pesquisa_produto">
                        <br>
                        <label for="p_prod_codigo"> Código:&nbsp;&nbsp;</label>
                        <input type="text" id="p_prod_codigo" name="p_prod_cod" class="pesquisa_codigo">
                        <br>                       
                        <label for="p_prod_estoque"> Estoque:</label>
                        <form class = "estoque_form">
                            <select id="opcao_estoque" name="op_estoque">
                                <option value="igual">=</option>
                                <option value="maior">>=</option>
                                <option value="menor"><=</option>
                            </select>
                        </form>
                        <input type="text" id="p_prod_estoque" name="p_prod_qtde" class="pesquisa_estoque">
                        <!-- -->
                        <input type="submit" value="Pesquisar" id="pesquisa_pesquisar" class="btn_pesquisa_produtos">
                        <input type="submit" value="Limpar Filtros" id="limpar_filtros" class="btn_pesquisa_produtos">
                        <input type="submit" value="Novo" id="novo_produto" class="btn_pesquisa_produtos btn_novo">
                    </div>  
                </form>
            </div>
            <div class="form2">
                <form class="Exibir itens">
                    <table> 
                        <tr>
                            <th>NOME</th>
                            <th>PREÇO</th>
                            <th>ESTOQUE</th>
                            <th><span style="color: rgb(72, 130, 206);">Editar</span></th>
                            <th><span style="color: rgb(206, 62, 62);">Excluir</span></th>
                        </tr>
                    </table>
                </form>
                <form class="registro_pagina">
                    <label for="p_prod_nome">Mostrar</label>
                    <input type="text" id="n_registros_pagina" name="n_registro_page" value="10">
                    <label for="p_prod_nome"> registros por página</label>
                    <input type="submit" value="Confirmar" id="confirmar_registros_pagina">
                    <input type="submit" value="<" id="Anterior" class="btn_navegar">
                    <input type="submit" value=">" id="Próximo" class="btn_navegar">
                </form>
            </div>
        </div>
            <div class="form3 container-fluid">
                <p> Edição de produtos</p>
                <form class="edit_produto">
                    <div class="mb-3">
                        <label for="e_prod_id">id</label>
                        <input type="text" id="e_prod_id" name="e_prod_id" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="e_prod_nome">Nome do Produto</label>
                        <input type="text" id="e_prod_nome" name="e_prod_name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="e_prod_codigo"> Código de Barras</label>
                        <input type="text" id="e_prod_codigo" name="e_prod_cod" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="e_prod_preco_custo">Preço de Custo</label>
                        <input type="text" id="e_prod_preco_custo" name="e_prod_p_c" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="e_prod_preco_promocional">Preço Promocional</label>
                        <input type="text" id="e_prod_preco_promocional" name="e_prod_p_p" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="e_prod_preco_venda">Preço Venda</label>
                        <input type="text" id="e_prod_preco_venda" name="e_prod_p_v" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="e_prod_unidade">Unidade</label>
                        <input type="text" id="e_prod_unidade" name="e_prod_un" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="e_prod_estoque">Estoque</label>
                        <input type="text" id="e_prod_estoque" name="e_prod_estq" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="e_prod_estoque_minimo">Estoque Mínimo</label>
                        <input type="text" id="e_prod_estoque_minimo" name="e_prod_estq_min" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="submit button" value="Cancelar" id="cancelar_cadastro" class="btn btn-danger">
                        <input type="submit button" value="Salvar" id="salvar_cadastro" class="btn btn-success">
                    </div>
                </form>
            </div>
            
        </div>
    </body>
</html>