<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Produtos</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Ícones-->
        <link rel="stylesheet" href="css/produtos.css"> 
    </head>
    <body>
        <div class="produtos">
            <div class="form1">
                <form class="cadastro_produtos">
                    <p>Produtos Cadastrados</p>
                    <div class="pesquisa">
                        <label for="p_prod_nome"> Produto:</label>
                        <input type="text" id="p_prod_nome" name="p_prod_name">
                        <br>
                        <label for="p_prod_codigo"> Código:</label>
                        <input type="text" id="p_prod_codigo" name="p_prod_cod">
                        <br>
                        <label for="p_prod_estoque"> Estoque:</label>
                        <input type="text" id="p_prod_estoque" name="p_prod_qtde">
                        <input type="submit" value="Limpar Filtros" id="limpar_filtros">
                        <input type="submit" value="Pesquisar" id="pesquisa_pesquisar">
                    </div>
                    
                </form>
            </div>
            <div class="form2">
                <p>NOME | PREÇO | ESTOQUE</p>
            </div>
            <div class="form3">
                <p> Edição de produtos</p>
            </div>
            
        </div>
    </body>
</html>